<IfModule mod_php.c>
    php_value upload_max_filesize 128M
    php_value post_max_size 128M
</IfModule>

<IfModule mod_headers.c>
    Header always set Access-Control-Allow-Origin "*"
    Header always set Access-Control-Allow-Methods "GET, POST, OPTIONS"
    Header always set Access-Control-Allow-Headers "Content-Type"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
</IfModule>

Order Allow,Allow
Allow from all
